.paper {
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 50px;
  border-radius: 50px;
  height: 300px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

h2 {
  font-family: "Abhaya Libre", serif;
  margin-right: 20rem;
  text-align: center;
}

p {
  font-family: "Abhaya Libre", serif;
  font-size: 2rem;
  font-weight: 300;
  padding: 50px;
}
