/* .jumbotron {
  background-image: url("../../assets/images/background.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 50px;
  border-radius: 50px;
  height: 400px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
} */

h2 {
  font-family: "Abhaya Libre", serif;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 20px;
  color: #dfe6e9;
  display: flex;
}

p {
  font-family: "Abhaya Libre", serif;
  font-size: 2rem;
  font-weight: 200;
  margin-right: 70%;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  color: #dfe6e9;
  display: flex;
}
